.hero
  .container
    %h1{ class: 'text-center' }
      %span Transform your closet
    %p.lead{ class: 'text-center' }

.container
  .row.border-separated.list-of-three
    .col-lg-4
      .circle-image.kenan WHAT?
      %h2.centered Kenan, SF
      %p "The Beast from the Middle East is back."
    .col-lg-4
      .circle-image.nick
        HOW!
      %h2.centered Nick, SF
      %p "I actually look like a K-pop star now."
    .col-lg-4
      .circle-image.wendy
        OMG!
      %h2.centered Wendy, SF
      %p "My boyfriend dresses so much better!"
.row.second-tina
  .container
    .col-lg-12
      %h2 More stuff

.row.third-tina
  .container
    .col-lg-12
      %h2 Again, more stuff