.hero
  .container
    %h1{ class: 'text-center' }
      %span Transform your closet
    %p.lead{ class: 'text-center' } Shop with your own personal stylist

.container
  .row.list-of-three
    .col-lg-4
      .image.web
      %h2.centered Contact us
      %p Give us your sizing information and budget
    .col-lg-4
      .image.chat
      %h2.centered Talk with us
      %p We'll dig into stores that fit your style
    .col-lg-4
      .image.shop
      %h2.centered Go shopping
      %p Meet us and find the perfect clothing for you