.hero
  .container
    %h1{ class: 'text-center' }
      %span Transform your closet
    %p.lead{ class: 'text-center' } Shop with your own personal stylist

.container
  .row.list-of-three
    .col-lg-4
      .image.web
      %h2.centered Contact us
      %p{ data: {'400' => 'opacity: 0;', '500' => 'opacity: 1;'} }Give us your sizing information and budget. <br/>We'll filter out the best stores to shop at.
    .col-lg-4
      .image.chat
      %h2.centered Talk with us
      %p{ data: {'400' => 'opacity: 0;', '500' => 'opacity: 1;'} }Video chat with us to show us your current look. We'll figure out new outfits and styles to shop for.
    .col-lg-4
      .image.shop
      %h2.centered Go shopping
      %p{ data: {'400' => 'opacity: 0;', '500' => 'opacity: 1;'} }Meet us at the stores to try on and buy your new wardrobe. We'll transform your closet.
.smiling-suit