html {
  width: 100%;
}

body {
  width: 100%;
  font-size: 170%;
}

h1, h2, h3, h4, h5, p, span, body {
  font-family: 'Lato', Helvetica, san-serif;
  font-weight: 300;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
}

.centered {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.row {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.full-width {
  width: 100%;
}

.background-white {
  background: white;
}

@mixin white-contrast-text() {
  color: white;
  text-shadow: black 0 0 10px, black 0 0 5px, black 0 0 1px;
}

// require stylesheet for shared partials
@import "_navbar"