.hero {
  background: image-url('mens_closet.jpg') 0 40% no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  @include white-contrast-text;
  h1 {
    padding-top: 200px;
    font-size: 65px;
  }
  .lead {
    font-size: 30px;
  }
}

.container {
  position: relative;
}

.list-of-three {
  .col-lg-4 {
    margin: 70px 0;
    box-sizing: border-box;
    text-align: center;
  }

  .fade-in {
    font-size: 0.9em;
  }
}

.steps {
  z-index: 2;
}

.image {
  text-align: center;
  font-size: 30px;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.web {
  background: image-url('icons/email.png') 0 0 no-repeat;
  background-size: 100%;
}

.chat {
  width: 120px;
  position: relative;
  top: -23px;
  background: image-url('icons/screen.png') 0 0 no-repeat;
  background-size: 100%;
}

.shop {
  position: relative;
  weight: 140px;
  top: -10px;
  background: image-url('icons/shopping-bag.png') 0 0 no-repeat;
  background-size: 100%;
}

.smiling-suit {
  height: 700px;
  background: image-url('hands.jpg') 0 70% no-repeat;
  background-size: 100%;
  position: relative;
  top: -361px;
}