.hero {
  background: image-url('mens_closet.jpg') 0 40% no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  @include white-contrast-text;
  h1 {
    padding-top: 200px;
    font-size: 65px;
  }
}

.list-of-three {
  .col-lg-4 {
    padding: 50px;
    box-sizing: border-box;
  }
}

.circle-image {
  @include white-contrast-text;
  text-align: center;
  font-size: 30px;
  height: 200px;
  line-height: 200px;
  width: 200px;
  border: 1px solid gray;
  border-radius: 100px;
  margin: 0 auto;
}

.kenan {
  background: image-url('wasup_kenan.jpg') 0 0 no-repeat;
  background-size: 100%;
}

.nick {
  background: image-url('wtf_nick.jpg') 0 0 no-repeat;
  background-size: 100%;
}

.wendy {
  background: image-url('random_wendy.jpeg') 50% 10% no-repeat;
  background-size: 180%;
}

.second-tina {
  height: 500px;
  background: linear-gradient(to right, white, black);
}

.third-tina {
  height: 500px;
  background: image-url('second_tina.jpg') no-repeat;
}