.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to I18n.t(:title), root_path
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '#navbar-main'} }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse#navbar-main
      %ul.nav.navbar-nav
        %li
          = link_to_unless_current 'Pricing', pricing_path do
            %span Pricing
        %li
          = link_to_unless_current 'About', about_path do
            %span About
        %li
          = link_to_unless_current 'Contact Us', contact_us_path do
            %span Contact Us